<div class="overflow-x-auto mt-4">
    <table class="table-auto w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr>
            <th class="px-4 py-2 bg-gray-200">System</th>
            <th class="px-4 py-2 bg-gray-200">Status</th>
            <th class="px-4 py-2 bg-gray-200">Health</th>
            <th class="px-4 py-2 bg-gray-200">Response</th>
        </tr>
        </thead>
        <tbody>
        {% for name, result in results %}
            <tr>
                <td class="border px-4 py-2">{{ name }}</td>
                <td class="border px-4 py-2 {% if result.status == 'OK' %}text-green-500{% else %}text-red-500{% endif %}">{{ result.status }}</td>
                <td class="border px-4 py-2 {% if result.status == 'OK' %}text-green-500{% else %}text-red-500{% endif %}">{{ result.status }}</td>
                <td class="border px-4 py-2"><pre>{{ result.response }}</pre></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
