{% extends 'base.twig' %}

{% block header %}System Health Check{% endblock %}

{% block content %}
    <table class="striped">
        <thead data-theme="light">
        <tr>
            <th scope="col">System</th>
            <th scope="col">Status</th>
            <th scope="col">Health</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for name, result in results %}
            <tr>
                <th scope="row">{{ name }}</th>
                <td>{{ result.status.reasonPhrase() }}</td>
                <td>{{ result.health }}</td>
                <td><a href="{{ url_for('health.show', { 'name': name }) }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
