{% extends 'base.twig' %}

{% block header %}{{ name }}{% endblock %}

{% block content %}
    <div class="card">
        {{ include('components/button-link.twig', { url: url_for('health.index'), text: '< Back' }) }}
        <div>
            <div>Status: <span>{{ result.status }}</span></div>
            <div>Response:</div>
            <pre><code>{{ result.response }}</code></pre>
        </div>
    </div>
{% endblock %}
