{% extends 'base.twig' %}

{% block content %}
    <h1 class="text-2xl text-center mb-8">{{ name }}</h1>
    <div class="flex flex-col gap-4">
        <div class="w-auto">
            {{ include('components/link.twig', { url: url_for('health.index'), text: '< Back' }) }}
        </div>
        <div class="bg-white shadow-md rounded-lg p-4">
            <div>Status: <span>{{ result.status }}</span></div>
            <div>Response:</div>
            <pre class="bg-gray-100 p-4 rounded-lg"><code class="text-wrap">{{ result.response }}</code></pre>
        </div>
    </div>
{% endblock %}
